composer.phar
/vendor/
/.idea
.phpunit.result.cache
tests/phpstan/result.txt
tests/cache/item-index/
tests/cache/mod-index/
tests/cache/mods.ser
tests/cache/index/index.version
tests/cache/mods.version
config.php
