composer.phar
/vendor/
/.idea
.phpunit.result.cache
tests/phpstan/result.txt
tests/cache/index/loupe.db
tests/cache/index/state_set.php
tests/cache/mods.ser
tests/cache/index/index.version
tests/cache/mods.version
